:root {
  --font-family: "PTSansRegular", sans-serif;
  --content-width: 1110px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white-color: #ffffff;
  --black-color: #000000;
  --light-black-color: #0F0F0F;
  --grey-color: #969696;
  --light-grey-color: #D0D0D0;
  --dark-grey-color: #191B1C;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/../fonts/PTSansRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/../fonts/PlayfairDisplayRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/../fonts/PlayfairDisplayBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PostNoBillsJaffnaBold";
  src: url("../fonts/../fonts/PostNoBillsJaffnaBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.btn {
  padding: 12px 28px;
  margin: 0px auto;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  color: var(--grey-color);
  background-color: var(--black-color);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 14px var(--container-offset);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__phone-btn {
  width: 13px;
  height: 13px;
  fill: var(--grey-color);
  margin-right: 15px;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__phone-btn:hover {
  fill: var(--white-color);
}
.header__phone-btn svg {
  width: 100%;
  height: 100%;
}
.header__phone-number {
  margin-right: 30px;
  position: relative;
  color: var(--grey-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__phone-number::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 13px;
  top: 2px;
  right: -15px;
  background-color: var(--grey-color);
}
.header__phone-number:hover {
  color: var(--white-color);
}
.header__mode {
  margin-right: 30px;
  position: relative;
}
.header__mode::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 13px;
  top: 2px;
  right: -15px;
  background-color: var(--grey-color);
}
.header__login {
  color: var(--grey-color);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.header__login:hover {
  color: var(--white-color);
}
.header__login-btn {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  fill: var(--grey-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.header__login-btn:hover {
  fill: var(--white-color);
}
.header__login-btn svg {
  width: 100%;
  height: 100%;
}

.nav {
  background-color: var(--light-black-color);
}
.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 var(--container-offset);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__logo {
  font-family: "PostNoBillsJaffnaBold";
  font-style: normal;
  font-size: 36px;
  line-height: 54px;
  color: var(--white-color);
}
@media (max-width: 768px) {
  .nav__logo {
    display: none;
  }
}
.nav__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 537px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .nav__right {
    margin: 0px auto;
  }
}
.nav__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  -o-object-fit: contain;
  object-fit: contain;
  white-space: nowrap;
  display: block;
  padding: 31px 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--grey-color);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.nav__item:hover {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
}
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__cart-btn {
  fill: var(--white-color);
  margin-right: 40px;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.nav__cart-btn:hover {
  fill: var(--grey-color);
}
.nav__cart-btn svg {
  width: 22px;
  height: 22px;
}
.nav__find-btn {
  fill: var(--white-color);
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}
.nav__find-btn:hover {
  fill: var(--grey-color);
}
.nav__find-btn svg {
  width: 22px;
  height: 22px;
}

.hero {
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 810px;
}
.hero__container {
  padding: 0 var(--container-offset);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero__logo {
  width: 320px;
  height: 320px;
  text-align: center;
  padding: 93px 65px;
  margin: 0px auto;
  margin-top: 160px;
  margin-bottom: 80px;
  color: var(--white-color);
  border: 4px solid var(--white-color);
}
.hero__logo-top {
  position: relative;
  font-family: "PostNoBillsJaffnaBold";
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 15px;
}
.hero__logo-top::after {
  position: absolute;
  content: "";
  width: 179px;
  height: 2px;
  background-color: var(--white-color);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.hero__logo-bottom {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
.hero__text {
  max-width: 730px;
  margin: 0px auto;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.collections {
  background-color: var(--black-color);
  color: var(--white-color);
}
.collections__container {
  margin: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.collections__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 730px;
}
@media (max-width: 1024px) {
  .collections__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
  }
}
.collections__top-left {
  width: 54%;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .collections__top-left {
    width: 100%;
    height: 100%;
  }
}
.collections__top-right {
  position: relative;
  width: 46%;
  height: 100%;
  background-image: url("../img/collections-bg1.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .collections__top-right {
    display: block;
    width: 100%;
    height: 700px;
  }
}
.collections__catalog {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  --catalog-width: 376px;
  max-width: var(--catalog-width);
  bottom: 100px;
  left: calc(50% - var(--catalog-width) / 2);
}
@media (max-width: 1024px) {
  .collections__catalog {
    position: static;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    margin-top: 480px;
  }
}
.collections__catalog-title {
  margin: 0px auto;
  margin-bottom: 60px;
  font-family: "PlayfairDisplayBold";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.collections__catalog-btn {
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.collections__catalog-btn:hover {
  background-color: var(--dark-grey-color);
}
.collections__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}
.collections__bottom-left {
  width: 46%;
  height: 100%;
  background-image: url("../img/collections-bg2.jpg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  .collections__bottom-left {
    display: none;
  }
}
.collections__bottom-right {
  width: 54%;
}
@media (max-width: 1024px) {
  .collections__bottom-right {
    margin: 0px auto;
  }
}
.collections__season {
  position: relative;
  max-width: 270px;
  margin: 0px auto;
  margin-top: 93px;
  font-family: "PlayfairDisplayBold";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}
.collections__season::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 1px;
  bottom: -50px;
  background-color: var(--white-color);
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}
.collections__old {
  padding: 100px 0;
}
.collections__old-title {
  position: relative;
  font-family: "PlayfairDisplayRegular";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.collections__old-title::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 1px;
  bottom: -50px;
  background-color: var(--white-color);
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}
.collections__old-descr {
  margin: 0px auto;
  margin-bottom: 60px;
  max-width: 471px;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}
.collections__old-btn {
  display: block;
  margin: 0px auto;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.collections__old-btn:hover {
  background-color: var(--dark-grey-color);
}
.collections__watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  margin-top: 100px;
  max-width: 880px;
}
@media (max-width: 1530px) {
  .collections__watches {
    max-width: 600px;
  }
}
@media (max-width: 1024px) {
  .collections__watches {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 740px;
  }
}
@media (max-width: 1530px) {
  .collections__watches-item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 1024px) {
  .collections__watches-item {
    margin: 0px auto;
    margin-bottom: 40px;
  }
  .collections__watches-item:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.watches-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "PlayfairDisplayRegular";
}
.watches img {
  display: block;
  max-width: 215px;
  max-height: 214px;
  margin: 55px auto;
}
.watches-image {
  width: 260px;
  height: 325px;
  background-color: var(--dark-grey-color);
  margin-bottom: 25px;
}
@media (max-width: 1530px) {
  .watches-image {
    width: 230px;
  }
}
.watches-name {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  color: var(--white-color);
}
.watches-price {
  font-size: 16px;
  line-height: 19px;
  color: var(--light-grey-color);
}

.novelties {
  background-color: var(--black-color);
}
.novelties__title {
  position: relative;
  margin: 120px auto;
  font-family: "PlayfairDisplayBold";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
.novelties__title::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 1px;
  bottom: -60px;
  background-color: var(--white-color);
  -webkit-transform: translateX(160px);
  -ms-transform: translateX(160px);
  transform: translateX(160px);
}
.novelties__container {
  margin: 0px auto;
  max-width: 1140px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.novelties__watches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 150px;
}
@media (max-width: 1024px) {
  .novelties__watches {
    display: block;
  }
}
.novelties__watches-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .novelties__watches-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.novelties__watches-item {
  margin-bottom: 40px;
}
.novelties__watches-item:not(:last-child) {
  margin-right: 23px;
}

.brands {
  background-color: var(--light-black-color);
}
.brands__container {
  margin: 0px auto;
  max-width: 1140px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.brands__title {
  position: relative;
  margin: 60px auto 80px auto;
  font-family: "PlayfairDisplayBold";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}
.brands__title::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 1px;
  bottom: -40px;
  background-color: var(--white-color);
  -webkit-transform: translateX(85px);
  -ms-transform: translateX(85px);
  transform: translateX(85px);
}
.brands__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 80px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.brands__img {
  margin: 0px auto;
}

.info {
  background-image: url("../img/info-bg.jpg");
  background-color: var(--black-color);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .info {
    background-image: none;
  }
}
.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .info__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about {
  color: var(--white-color);
  max-width: 350px;
  margin-top: 80px;
  padding: 10px;
}
@media (max-width: 1024px) {
  .about {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .about {
    margin: 0px auto;
    max-width: 100%;
  }
}
.about__title {
  font-family: "PlayfairDisplayRegular";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .about__title {
    text-align: center;
  }
}
.about__descr {
  font-size: 14px;
  margin-bottom: 101px;
}
@media (max-width: 768px) {
  .about__descr {
    margin-bottom: 20px;
  }
}

.categories {
  margin-top: 80px;
  color: var(--white-color);
  max-width: 320px;
  padding: 10px;
}
@media (max-width: 1024px) {
  .categories {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .categories {
    margin: 0px auto;
    max-width: 100%;
  }
}
.categories__title {
  font-family: "PlayfairDisplayRegular";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .categories__title {
    text-align: center;
  }
}
.categories__btn {
  background-color: var(--light-black-color);
  color: var(--white-color);
  padding: 10px 20px;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .categories__btn {
    margin-bottom: 10px;
  }
}
.categories__btn:not(:last-child) {
  margin-right: 15px;
}
.categories__btn:hover {
  background-color: var(--dark-grey-color);
}

.mail {
  margin-top: 80px;
  color: var(--white-color);
  max-width: 350px;
  padding: 10px;
}
@media (max-width: 1024px) {
  .mail {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .mail {
    max-width: 100%;
    margin: 0px auto;
    margin-bottom: 30px;
  }
}
.mail__title {
  font-family: "PlayfairDisplayRegular";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .mail__title {
    text-align: center;
  }
}
.mail__descr {
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 37px;
}
.mail__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .mail__form {
    margin: 0px auto;
    max-width: 350px;
  }
}
.mail__label {
  color: var(--white-color);
}
.mail__input {
  width: 205px;
  background-color: var(--grey-color);
  opacity: 0.4;
  color: var(--white-color);
  padding: 10px;
}
.mail ::-webkit-input-placeholder {
  color: var(--white-color);
}
.mail ::-moz-placeholder {
  color: var(--white-color);
}
.mail :-ms-input-placeholder {
  color: var(--white-color);
}
.mail ::-ms-input-placeholder {
  color: var(--white-color);
}
.mail ::placeholder {
  color: var(--white-color);
}
.mail__btn {
  background-color: var(--light-black-color);
  color: var(--white-color);
  padding: 10px 20px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.mail__btn:hover {
  background-color: var(--dark-grey-color);
}
/*# sourceMappingURL=main.css.map */