<section class="collections">
   <div class="collections__container">
      <div class="collections__top">
         <div class="collections__top-left">
            <h3 class="collections__season">Сезон 2020/21</h3>
            <div class="watches collections__watches">
               <a href="#" class="watches-item collections__watches-item">
                  <div class="watches-image collections__watches-image">
                     <img src="../img/watch.png">
                  </div>
                  <span class="watches-name collections__watches-name">Louis XVI ATHOS</span>
                  <span class="watches-price collections__watches-price">165 000 руб.</span>
               </a>
               <a href="#" class="watches-item collections__watches-item">
                  <div class="watches-image collections__watches-image">
                     <img src="../img/watch.png">
                  </div>
                  <span class="watches-name collections__watches-name">Louis XVI ATHOS</span>
                  <span class="watches-price collections__watches-price">165 000 руб.</span>
               </a>
               <a href="#" class="watches-item collections__watches-item">
                  <div class="watches-image collections__watches-image">
                     <img src="../img/watch.png">
                  </div>
                  <span class="watches-name collections__watches-name">Louis XVI ATHOS</span>
                  <span class="watches-price collections__watches-price">165 000 руб.</span>
               </a>
            </div>
         </div>
         <div class="collections__top-right">
            <div class="collections__catalog">
               <span class="collections__catalog-title">Новая коллекция</span>
               <button class="btn btn-reset collections__catalog-btn" data-graph-path="">Каталог</button>
            </div>
         </div>
      </div>
      <div class="collections__bottom">
         <div class="collections__bottom-left"></div>
         <div class="collections__bottom-right">
            <div class="collections__old">
               <h3 class="collections__old-title">Коллекция 2018</h3>
               <div class="collections__old-descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non rutrum
                  ornare ut mattis habitant dui arcu. Sagittis amet nunc ut neque quis nibh arcu. Vivamus vestibulum
                  nisi et venenatis sed scelerisque magna consectetur. Amet convallis quis gravida facilisis vulputate.
                  Faucibus facilisi habitasse ipsum interdum dictum aliquet. Velit quis ullamcorper pulvinar nulla
                  malesuada integer. Aenean praesent viverra nulla nullam natoque volutpat curabitur auctor. Viverra
                  viverra ullamcorper scelerisque risus dignissim egestas. Id aliquam a aliquam egestas leo orci
                  pharetra sed diam. </div>
               <button class="btn btn-reset collections__old-btn" data-graph-path="">Посмотреть коллекцию</button>
            </div>
         </div>
      </div>
   </div>
</section>