<header class="header">
   <div class="container header__container">
      <div class="header__left">
         <div class="header__phone">
            <button class="header__phone-btn btn-reset">
               <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
               </svg>
            </button>
            <a href="tel:88121234567" class="header__phone-number">8 (812) 123-45-67</a>
         </div>
         <span class="header__mode">Работаем 7 дней в неделю</span>
         <span class="header__hours">9:00 — 18:00</span>
      </div>
      <div class="header__right">
         <button class="header__login-btn btn-reset">
            <svg>
               <use xlink:href="img/sprite.svg#login"></use>
            </svg>
         </button>
         <a href="#" class="header__login">Войти / Регистрация</a>
      </div>
   </div>
</header>