<section class="info">
   <div class="container info__container">
      <div class="about">
         <h3 class="about__title">О магазине</h3>
         <div class="about__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc
            cursus tortor lectus nunc nulla nibh. Egestas amet consectetur vel vitae aliquam dictum suspendisse.
            Lobortis eget consequat, tellus et et sed turpis. Pretium quisque vitae, amet, porttitor odio ultricies
            massa pharetra leo. Et ipsum urna fames in sit mi ultrices nisi, nunc.</div>
      </div>
      <div class="categories">
         <h3 class="categories__title">Категории</h3>
         <div class="categories__btns">
            <button class="btn-reset categories__btn" data-graph-path="">часы</button>
            <button class="btn-reset categories__btn" data-graph-path="">браслеты</button>
            <button class="btn-reset categories__btn" data-graph-path="">ремни</button>
            <button class="btn-reset categories__btn" data-graph-path="">ювелирные изделия</button>
            <button class="btn-reset categories__btn" data-graph-path="">запонки</button>
         </div>
      </div>
      <div class="mail">
         <h3 class="mail__title">Рассылка</h3>
         <div class="mail__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi semper viverra nunc cursus
            tortor lectus nunc nulla nibh.</div>
         <form action="#" class="form mail__form">
            <label class="form__label mail__label">
               <input type="email" name="email" class="input-reset form__input mail__input" placeholder="Ваша почта">
            </label>
            <button class="btn-reset form__btn mail__btn">ПОДПИСАТЬСЯ</button>
         </form>
      </div>
   </div>
</section>