<section class="nav">
   <div class="container nav__container">
      <div class="nav__left">
         <a href="#" class="nav__logo">PORTEN</a>
      </div>
      <div class="nav__right">
         <ul class="nav__sections list-reset">
            <li><a class="nav__item" href="#">Понравилось</a></li>
            <li><a class="nav__item" href="#">Личный кабинет</a></li>
            <li><a class="nav__item" href="#">Настройки</a></li>
         </ul>
         <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
            <span class="burger__line"></span>
          </button>
         <div class="nav__btns">
            <button class="nav__cart-btn btn-reset">
               <svg class="">
                  <use xlink:href="img/sprite.svg#cart"></use>
               </svg>
            </button>
            <button class="nav__find-btn btn-reset">
               <svg class="">
                  <use xlink:href="img/sprite.svg#find"></use>
               </svg>
            </button>
         </div>
      </div>
   </div>
</section>