<section class="novelties">
   <div class="novelties__container">
      <h3 class="novelties__title">Новые поступления</h3>
      <div class="watches novelties__watches">
         <div class="novelties__watches-row">
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
         </div>
         <div class="novelties__watches-row">
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
            <a href="#" class="watches-item novelties__watches-item">
               <div class="watches-image novelties__watches-image">
                  <img src="../img/watch.png">
               </div>
               <span class="watches-name novelties__watches-name">Louis XVI ATHOS</span>
               <span class="watches-price novelties__watches-price">165 000 руб.</span>
            </a>
         </div>
      </div>
   </div>
</section>