// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
   // base
   --font-family: "PTSansRegular", sans-serif;
   --content-width: 1110px;
   --container-offset: 15px;
   --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

   // colors
   --white-color: #ffffff;
   --black-color: #000000;
   --light-black-color: #0F0F0F;
   --grey-color: #969696;
   --light-grey-color: #D0D0D0;
   --dark-grey-color: #191B1C;
}